<div id="todoNew">

    <h2>New Todo</h2>

    <form name="newForm" class="css-form" novalidate>

        <div class="formField">
            <label for="todo.title">Titre (1 to 6 letters)</label>
            <input id="todo.title" name="title" type="text" ng-model="todo.title" ng-minlength="1" required/>
            <span ng-show="newForm.title.$error.serverMessage">{{newForm.title.$error.serverMessage}}</span>
           
        </div>

        <div class="formField">
            <label for="todo.description">Description</label>
            <textarea id="todo.description" ng-model="todo.description" required>
            </textarea>
        </div>
        <hr/>
        <button class="button" ng-click="gotoTodoListPage()">&lt; Retour</button>&nbsp;
        <button class="button" ng-click="submit()" ng-disabled="newForm.$invalid">Sauver</button>&nbsp;
        <button class="button" ng-click="reset()">RESET</button>

    </form>

</div>
